.masthead_About {
  height: 600px;
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/aboutHeader.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*=== Footer Section ===*/
.section_padding_AboutUS {
  padding: 3rem 4rem;

}

.footer_AboutUS {
  position: relative;
  top: 400px;
  width: 100vw;
  left: -1%,

}

.sb_footer_AboutUS {
  display: flex;
  flex-direction: column;
}

.sb_footer-links_AboutUS {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb_footer-links_div_AboutUS {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

a {
  color: rgb(173, 175, 180);
}

.socialmedia {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.sb_footer-links_div h4 {
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb_footer-links_div p {
  position: relative;
  left: 2%;
  top: 20px;
  text-decoration: none;
  font-size: 14px;
  color: rgb(199, 196, 196);
  line-height: 25px;
  cursor: pointer;
}

.sb_footer-below_AboutUS {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.2rem;
}

.sb_footer-below-links_AboutUS {
  display: flex;
  flex-direction: row;
}

.sb_footer-below-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}


/*== Horizontal line Section ==*/
hr {
  color: white !important;
  width: 100%;
}



.hr2 {
  position: relative;
  top: 25px;
  left: 48%;
  color: black !important;
  justify-content: center;
  align-items: center;
}

.hr5 {
  position: relative;
  top: 13px;
  width: 30%;
  left: 48%;
  color: black !important;
  justify-content: center;
  align-items: center;
}

.hr3 {
  position: relative;
  top: 200px;
  width: 30%;
  left: 48%;
  color: black !important;
  justify-content: center;
  align-items: center;
}



.sb_footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

/*=== End Footer Section ===*/


/*=== Responsiveness of footer ===*/
@media screen and (max-width: 850px) {
  .sb_footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .sb_footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .sb_footer-links div {
    margin: 1rem 0;
  }

  .sb_footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }

  .sb_footer-below {
    flex-direction: column;
    justify-content: left;
  }

  .sb_footer-below-links {
    flex-direction: column;
  }

  .sb_footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .sb_footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}

/*=== End Responsiveness of footer ===*/