@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


h4 {
    font-family: 'Kanit', sans-serif;
}

.section {
    background-color: #969090;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 10rem auto 0 auto;
    margin-left: 13%;
    margin-top: 30px;
    width: 100%;
    height: 80vh;
}

.Header_Bread12 {
    width: 100%;
    position: absolute;
    height: 60vh;
    background-color: rgb(248, 248, 248);
}
.hr2_Bread {
    position: relative;
    top: 33vh;
    left: 20%;
    color: black !important;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.section img {
    height: 250px;
}

.section h2 {
    margin: 0;
    color: greenyellow;
}

.section p {
    color: whitesmoke;
    margin-right: 15px;
}