.masthead_Contact {
    height: 550px;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/public/images/landing2IMG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}