.masthead_FishFingers {
    height: 700px;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/fishFishers1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}