.Section_Magwinya {
    background-color: rgb(235, 236, 236);
    width: 125%;
    height: 50vh;
}
.masthead_Magwinya {
    height: 700px;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/amagwinya.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.hr_magwinya1 {
    position: relative;
    top: 90vh;
    width:70%;
    left: 15%;
    color: black !important;
    justify-content: center;
    align-items: center;
}

.singCol {
    max-width: 750px;
    margin: 0 auto;
}

.social-media-icons-white a{
    font-size: 2rem;
    color: black;
}